
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand ">
                    <a href="#">
                        <i class="fa fa-bars fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Start Bootstrap
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/dashboard']">
                        <i class="fa fa-tachometer fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Dashboard
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/expenses']">
                        <i class="fa fa-minus-circle fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Expenses
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-plus-circle fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Incoms
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/reports']">
                        <i class="fa fa-line-chart fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Reports
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/about']">
                        <i class="fa fa-clock-o fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        About
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/contact']">
                        <i class="fa fa-contao fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    
